[user]
	name = Yancharuk Alexander
	email = alex@itvault.info
	signingkey = E4734C4C
[core]
	excludesfile = ~/.gitignore
	whitespace = tabsize=4,indent-with-non-tab
	pager = less
    quotepath = false
    commitGraph = true
[alias]
	st = status -s
	ci = commit -m
	co = checkout
	br = branch
	rom = reset --hard origin/main
	rop = reset --hard origin/prod
	rot = reset --hard origin/test
	rh = reset --hard HEAD
	df = diff -w
	dc = diff --cached -w
	g  = grep -npz
	lg = log -p
	standup = log --since='5 day ago' --oneline --author='Yancharuk Alexander'
	hi  = log --pretty=format:\"%C(yellow)%h %C(cyan)%ad %C(green bold)%d%C(reset)%s %C(green dim)[%cn]\" --date=short
	his = log --pretty=format:\"%C(yellow)%h %C(cyan)%ad%C(blue)%G?%C(yellow bold)%d%C(reset)%s %C(green dim)[%cn]\" --date=short --stat
	ls  = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
	tree = log --graph --pretty=oneline --decorate
	t = tag -m
	td = tag -d
	pom = pull --rebase origin main
	# Go pseudo-version
	# https://go.dev/ref/mod#pseudo-versions
	pv = !bash -c 'TZ=UTC git --no-pager show \
		--quiet \
		--abbrev=12 \
		--date=format-local:%Y%m%d%H%M%S \
		--format="v0.0.0-%cd-%h"' -
	show = show -w
	amend = commit --amend -c HEAD
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ign = ls-files -o -i --exclude-standard
	# Run it like so:
	# $ git dm [origin]
	#
	# If any local branch is tracking a remote branch that has been removed, the local branch will also be removed.
	# Note that "origin" is the default parameter, but you can pass your remote name
	dm = !bash -c '\
		REMOTE=$1 && \
		REMOTE=${REMOTE:="origin"} && \
		echo "Fetching $REMOTE" && \
		git fetch $REMOTE --prune  && \
		git branch -vv | grep "gone]" | awk \"{ print \\$1 }\" | xargs git branch -D' -
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	grep = auto
	ui = true
	pager = true
[color "branch"]
	current = green reverse
	local = yellow
	remote = cyan
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "grep"]
	function = yellow bold
	match = red bold
	linenumber = cyan
[diff]
	tool = meld
[difftool]
	promt = false
	prompt = no
[init]
	defaultBranch = main
[push]
	default = simple
	followTags = true
[gc]
    writeCommitGraph = true
[pull]
	ff = only
